@charset "UTF-8";

body {
	margin: 0px;
	display: inline-block;
	width: 100%;
}
a:link {
	text-decoration: none;
	color: #35b7bb;
}
a:hover {
	text-decoration: none;
	color: #205759;
}
#col3 li a {
	color: #35b7bb;
}
#col3 li a:hover {
	color: #205759;
}
#col2 a {
	color: #35b7bb;
}
#col2 a:hover {
	color: #205759;
}
#col3 a {
	color: #35b7bb;
}
#col3 a:hover {
	color: #205759;
}
.box_teal {
	background-color: #5b564b;
	color: #FFF;
	padding-top: 10px;
	margin-top: 10px;
	border-radius: 4px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom: #35b7bb solid 8px;
	text-shadow: #000 0.1em 0.1em 0.2em;
}
.box_orange {
	background-color: #5b564b;
	color: #FFF;
	padding-top: 10px;
	margin-top: 10px;
	border-radius: 4px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom: #ed942a solid 8px;
	text-shadow: #000 0.1em 0.1em 0.2em;
}
.rounded220px {
	background-color: #5b564b;
	color: #FFF;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 4px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.planner_1px {
	width: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-bottom: #c9c3b8 solid 1px;
}
.planner1px {
	width: auto;
	padding-top: 20px;
	padding-bottom: 55px;
	border-bottom: #c9c3b8 solid 1px;
}
.planner_4px {
	width: auto;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 60px;
	border-bottom: #99958d solid 4px;
}
.noborder {
	width: auto;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 60px;
}
.planner_4px span {
	display: block;
	font-size: 12px;
	font-style: italic;
}
.col220px {
	width: 220px;
	padding-bottom: 20px;
	margin-top: 20px;
	border-bottom: #99958d solid 4px;
	float: left;
	padding-left: 0;
	margin-right: 20px;
	margin-bottom: 10px;
	text-align:center;
	text-shadow: #000 0.1em 0.1em 0.2em;
}
.col220 {
	padding-left: 0;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 220px;
	padding-bottom: 20px;
	border-bottom: #99958d solid 4px;
	float: left;
	text-align:center;
	text-shadow: #000 0.1em 0.1em 0.2em;
}
.box5 {
	width: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: #35b7bb solid 4px;
	font-family:"ff-tisa-web-pro";
	font-size: 24px;
	margin-bottom: 20px;
}
.box6 {
	width: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: #ed942a solid 4px;
	font-family: "ff-tisa-web-pro";
	font-size: 24px;
	margin-bottom: 20px;
}
.service220px {
	width: auto;
	padding-top: 20px;
	padding-bottom: 50px;
	border-bottom: #c9c3b8 solid 1px;
}
.service220px span {
	display: block;
	font-size: 12px;
	font-style: italic;
}
.service220 {
	width: auto;
	padding-top: 20px;
	padding-bottom: 65px;
	border-bottom: #c9c3b8 solid 1px;
}
.service220 span {
	display: block;
	font-size: 12px;
	font-style: italic;
}
.service_4px {
	width: auto;
	padding-top: 20px;
	padding-bottom: 50px;
	border-bottom: #99958d solid 4px;
}
.service_4px span {
	display: block;
	font-size: 12px;
	font-style: italic;
}
.box8 {
	width: auto;
	padding-bottom: 75px;
	margin-bottom: 15px;
	border-bottom: #c9c3b8 solid 1px;
}
.box9 {
	width: auto;
	padding-bottom: 45px;
	margin-bottom: 15px;
	border-bottom: #c9c3b8 solid 1px;
}
.box10 {
	width: auto;
	padding-bottom: 60px;
	margin-bottom: 15px;
	border-bottom: #c9c3b8 solid 1px;
}
.box11 {
	width: auto;
	padding-bottom: 35px;
	margin-bottom: 10px;
	border-bottom: #c9c3b8 solid 1px;
}
.col { 
	background-color: #7b7567;
	float: left;
	width: 140px;
	font-family:"calluna-sans";
}
.col h2{
	padding-top: 10px;
	font-size: 16px;
	font-family:"calluna-sans";
	color: #241a0a;
}
.col h2 a {
	color: #FFF;
	text-decoration: none;
}
.col ul { 
	list-style: none; 
	margin: 0; 
	padding: 0; 
}
.col li { 
	float: left; 
	height: 20px; 
	margin: 3px 0;
	padding-right: 20px; 
	width: 140px; 
}
.col li a { 
	color: #FFF;
	float: left; 
	text-decoration: none;
}
.col li a:hover { 
	color: #50483d;
}
div.servicecol1 {
	width: 60px;
	float: left;
	margin: 0;
	padding: 0;
}
div.servicecol2 {
	width: 80px;
	float: left;
	padding-left: 20px;
}
div.servicecol3 {
	width: 60px;
	float: right;
	padding: 0;
	margin: 0;
}
div.col4 {
	width: 140px;
	float: left;
}
#header_wrapper {
	margin: 0 auto;
    background-color: #595348;
	height: 100px;
}
#header {
	background-color: #585348;
	color: #FFF;
	width: 940px;
	height: 70px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	font-family: "calluna-sans";
	font-size: 16px;
}
.tripform {
	width: 310px;
	float: left;
	margin-right: 15px;
	margin-left: 15px;
	padding-left: 5px;
}
.tripformtext {
	width: 290px;
	padding-left: 25px;
	float: left;
}
.tripformtext span {
	display: block;
	font-size: 12px;
	font-style: italic;

}
#footer_wrapper {
	margin: 0 auto;
    background-color: #7b7567;
	height: 195px;
	clear: both;
}
#footer {
	background-color: #7b7567;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	font-family: "calluna-sans";	
	font-size:12px;
}
#footer img {
	margin-right: 20px;
}
nav {
	background-color: #f3b151;
	height: 35px;
	width: 100%;
	font-size: 16px;	
	font-family: "calluna-sans";
	text-shadow: #FFF 0.1em 0.1em 0.2em;
}
#content_wrapper {
	margin-top: 10px;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	font-family: "ff-tisa-web-pro";
}
#homecontent {
	width: 700px;
	float: left;
	padding-bottom: 30px;
	margin-right: 20px;
}
#rightcol {
	width: 220px;
	float: left;
	font-family: "ff-tisa-web-pro";
}
#col {
	width: 220px;
	float: left;
	display: block;
}
#col2 {
	width: 460px;
	float: left;
	font-size: 16px;
	font-family: "calluna-sans";
	margin-bottom: 15px;
	margin-right: 20px;
}
#col6 {
	width: 700px;
	float: left;
	font-size: 16px;
	font-family: "calluna-sans";
	margin-bottom: 15px;
	margin-right: 20px;
}
#col2 span{
	font-style: italic;
	font-size: 12px;
}
#col3 span{
	font-style: italic;
	font-size: 12px;
}
#col3 {
	width: 220px;
	float: left;
	font-family: "calluna-sans";
	font-size: 16px;
	margin-bottom: 15px;
}
#col3 ul { 
	list-style: none; 
	margin: 20;
	padding: 0;
}
#col3 li { 
	float: left; 
	width: 220px; 
}
#col4 {
	width: 300px;
	float: left;
	font-family: "calluna-sans";
	font-size: 16px;
	margin-bottom: 30px;
	margin-right: 100px;
}
#col4 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	}
#col5 {
	width: 300px;
	float: left;
	font-family: "calluna-sans";
	font-size: 16px;
	margin-bottom: 30px;
}
#col5 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.sidenav {
	padding-left: 10px;
	height: 25px;
	margin: 20px;
	padding-top: 3px;
	padding-bottom: 5px;
}
.sidenav a {
	color: #828282;
}
.sidenav2 {
	border-left: #ef8526 solid 4px;
	padding-left: 10px;
	height: 25px;
	margin: 20px;
	padding-top: 3px;
	padding-bottom: 5px;
}
.sidenav2 a {
	color: #4a4a4a;
}
img.bottom {
	margin-right: 10px;
	vertical-align:baseline;
	float: left;
}
img.top {
	vertical-align:top;
	padding: none;
	display: block;
}
img.middle {
    vertical-align:middle;
    margin: 5px;
	padding-right: 40px;
}
img.center { 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
img.floatright { 
    float: right; 
}
input[name=search] {
	float: right;
	width: 195px;
	padding: 5px;
	padding-right: 30px;
	outline: none;
	border: 2px solid #464646;
	border-radius: 4px;
	font-family: "calluna-sans";
	font-size: 14px;
	background-image: url(images/icon.png);
	background-position: 210px;
	background-repeat: no-repeat;
}
#form {
	float: right;
	width: 240px;
	padding-top: 15px;
}
.selecttext {
	float: right;
	display: inline;
	padding-right: 300px;
}
input[type=radio] {
	display: inline;
	margin-right: 10px;
}
input[name=findmytrip] {
	width: 120px;
	height: 28px;
	border: 1px solid #00746b;
	text-shadow: #FFF 0.1em 0.1em 0.2em;
	background-color: #38b2b4;
	color: #fff;
	border-radius: 4px;
	font-family: "ff-tisa-web-pro";
	font-size: 16px;
	text-align: center;
}
.time {
	float: right;
	padding-right: 250px;
	width: 300px;
}
.timedepart {
	display: inline;
	float: right;
	width: 150px;
}
.timearrive {
	display: inline;
	float: left;
	width: 150px;
}
.timedrop {
	padding-top: 30px;
	padding-left: 20px;
	float: clear;
	width: 350px;
}
.raillines {
	width: 115px;
	margin-top: 20px;
	padding: 0;
	text-align: center;
	float: left;
}
h2 {
	font-style: bold;
	font-size: 16px;
	font-family: "calluna-sans";
	margin-bottom: 5px;
	padding: 0;
	}
p {
	padding: 0;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
/* faqs accordion styles */
.ac-container{
    width: 460px;
    margin: 0;
	padding: 0;
    text-align: left;
}
.ac-container label{
    font-weight: 500;
    margin-top: 10px;
	position: relative;
    display: block;
    height: auto;
    cursor: pointer;
    color: #35b7bb;
    line-height: 21px;
    font-size: 16px;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 2px;
	color: #205759;
}
.ac-container input:checked + label:hover:after{
	color: #205759;
}
.ac-container input{
    display: none;
}
.ac-container article{
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
    font-style: normal;
    color: #777;
    line-height: 21px;
    font-size: 16px;
    padding: 5px 5px 0 30px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article.ac-single{
    height: auto;
}
.ac-container input:checked ~ article.ac-small{
    height: auto;
}
.ac-container input:checked ~ article.ac-medium{
    height: auto;
}
.ac-container input:checked ~ article.ac-large{
    height: auto;
}
/*end faqs accordion styles */
video {
	margin: 0;
	padding: 0;
}
.box6 img {
	margin-right: 10px;
	margin-bottom: 10px;
}
#border1 {
	width: auto;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: #c9c3b8 solid 1px;
}
.director {
	width: 220px;
}
.directorimg {
	float: left;
	width: 97px;
}
.directortext {
	float: right;
	width: 120px;
}
#calendar {
	margin-top: 20px;
}
.box12 {
	height: 145px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: #c9c3b8 solid 1px;
	width: 220px;
}
.box13 {
	height: 145px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 220px;
}
input[name=comments] {
	margin-top: 20px;
	width: 210px;
	padding: 5px;
	outline: none;
	border: 2px solid #959595;
	border-radius: 4px;
	font-family: "calluna-sans";
	font-size: 14px;
	background-color: #ebebeb;
	}
input[name=trip] {
	margin-top: 20px;
	width: 250px;
	padding: 5px;
	outline: none;
	border: 2px solid #959595;
	border-radius: 4px;
	font-family: "calluna-sans";
	font-size: 14px;
	background-color: #ebebeb;
	margin-left: 20px;
	}
input[name=zip] {
	margin-top: 20px;
	width: 100px;
	padding: 5px;
	outline: none;
	border: 2px solid #959595;
	border-radius: 4px;
	font-family: "calluna-sans";
	font-size: 14px;
	background-color: #ebebeb;
	margin-left: 50px;
	}
input[name=commentssubmit] {
	margin-top: 20px;
	width: 120px;
	height: 28px;
	border: 1px solid #a3620a;
	text-shadow: #FFF 0.1em 0.1em 0.2em;
	background-color: #dc8a28;
	color: #fff;
	border-radius: 4px;
	font-family: "ff-tisa-web-pro";
	font-size: 16px;
}

textarea#styled {
	margin-top: 20px;
	width: 210px;
	height:220px;
	padding: 5px;
	outline: none;
	border: 2px solid #959595;
	border-radius: 4px;
	font-family: "calluna-sans";
	font-size: 14px;
	background-color: #ebebeb;
}
.results {
	width: 30px;
	float: left;
	margin-right: 30px;
	font-family: "ff-tisa-web-pro";
	font-size: 16px;
	font-weight: 400;
}
.results1 {
	width: 175px;
	float: left;
	margin-right: 30x;
	font-family: "ff-tisa-web-pro";
	font-size: 16px;
	font-weight: 400;
}
.results2 {
	width: 140px;
	float: left;
	margin-right: 30px;
	font-family: "ff-tisa-web-pro";
	font-size: 16px;
}
.results3 {
	width: 150px;
	float: left;
	padding-right: 30px;
	font-family: "ff-tisa-web-pro";
	font-size: 32px;
	font-weight: 400;
}
.planner1{
	width: auto;
	padding-top: 20px;
	padding-bottom: 75px;
	border-bottom: #c9c3b8 solid 1px;
}.planner{
	width: auto;
	padding-top: 20px;
	padding-bottom: 75px;
}
.redo {
	width: 140px;
	float: left;
	margin-left: 60px;
	font-family: "ff-tisa-web-pro";
	font-size: 16px;
}
.styled-select select {
   background: transparent;
   width: 270px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
   height: 30px;
}
.styled-select {
   width: 250px;
   height: 30px;
   overflow: hidden;
   background: url(marta/images/dropdown.png) no-repeat right #ddd;
}
	